同济校园2020年航摄像片 filter=lfs diff=lfs merge=lfs -text
摄影测量学实习任务书（测绘）12期实验教改2019级应用.pdf filter=lfs diff=lfs merge=lfs -text
摄影测量实习2022年（19级）.pdf filter=lfs diff=lfs merge=lfs -text
摄影测量实习成果 filter=lfs diff=lfs merge=lfs -text
摄影测量实习报告样式2019级.pdf filter=lfs diff=lfs merge=lfs -text
